<!DOCTYPE html>
<html>
<head>
  <title>Roots of Success</title>
  <link rel='shortcut icon' href='<%= asset_path "favicon.png" %>'>
  <% if Rails.env.development? %>
    <script src='http://localhost:3808/webpack-dev-server.js'></script>
  <% end %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, 'modernizr' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% set_meta_tags user: user %>
  <% set_meta_tags errors: error(@error) %>
  <% set_meta_tags flash: flashes(flash) %>
  <%= display_meta_tags %>
</head>
<body>

<div id='main-container'>
  <%= yield %>
</div>
<%= link_to edit_course_path(1, format: :csv) %>
</body>
</html>
